.btn-start{
    background: #FFFFFF;
    border-radius: 32px;
    padding: 15px;
    width: 200px;
    font-family: "Nunito";
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 19px;
    /* or 79% */
    border: 1px solid #324191;
    letter-spacing: 5px;
    
    color: #324191;
        }