.home{
    background-image: url("../../Images/home.svg");
    font-family: "Inter";
    
   }

   .btn-start{
    background: #FFFFFF;
    border-radius: 32px;
    padding: 15px;
    width: 200px;
    font-family: "Nunito";
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 19px;
    /* or 79% */
    border: 1px solid #324191;
    letter-spacing: 5px;
    
    color: #324191;
        }

        .btn-learn{
            background: #FFFFFF;
            border-radius: 32px;
            padding: 15px;
            width: 200px;
            font-family: "Nunito";
            font-style: normal;
            font-weight: bold;
            font-size: 24px;
            line-height: 19px;
            /* or 79% */
            border: 1px solid #324191;
            letter-spacing: 5px;
            
            color: #324191;
                }
    .partners-height{
    height: 30vh;
}
   #partners-grid{display:grid !important;
     grid-template-columns:1fr 1fr 1fr;
    }
   .support{
       
font-family: "Inter";
font-style: normal;
font-weight: bold;
font-size: 40px;
line-height: 48px;
/* identical to box height, or 120% */

text-align: center;

color: #B6B6B6;
   }
   .partners-logo{
       height: 40px;
   }
#about{
    position: absolute;
width: 100vw;
height: 80vh;


background: #F6F6F6;
border-radius: 0px;
}
ul, li{
    list-style: none;
}
   .btn{
       padding: 15px;
       border-radius: none;
       width: 140px;
   }
   .h1{
       font-weight: bolder;
   }
   .feature{
       font-family: "Inter";
    width: 20vw;
    max-height: 45vh;
    
    margin-top: 10px;
    background: #FFF;
    -webkit-box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.05);
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.05);
    border-radius: 10px;
    padding: 10px;
}
.feature>div>h6{
    
    font-weight: lighter;
    
 }
   .service-grid{
       display:grid;
       grid-template-columns: 1fr 1fr 1fr 1fr;
      grid-gap: 10px;
       align-items: center;
   }
   .h6{
    font-family: "Nunito";
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    color: white;
   }
.green-circle{

width: 70px;
height: 70px;
background:  #3F3D56;

}
.about-grid{
    display:grid;
     grid-template-columns:1fr 1fr;
     grid-gap: 40px;
      width: 80vw;
       margin-left:120px;
        margin-right:120px;
}

   @media (max-width: 1100px) {
    
    #about{
        
    width: 60vw;
    
    }
    .service-grid{
        grid-template-columns: 1fr 1fr;
        grid-gap: 10px;
        margin-left: 30px;
       
    } 
    .feature{
        width: 40vw;
        margin-top: 50px;
    }
   }
   @media (max-width: 900px) { 
       #partners-grid{ 
           grid-template-columns: 1fr;
           text-align: center !important;
       }
       .partners-height{
          height: 70vh;

       }
       .swing>img{
           height: 80px;
       }
   }
   @media (max-width: 620px) {
    .about-grid{
        grid-template-columns: 1fr;
        margin-left:20px;
        margin-right:20px;
        width: 80vw;
        
    }
    .about-img{
        transform: translateY(-30px);
    }
       .home{
           width: 100vw;
       }
    .service-grid{
        grid-template-columns: 1fr 1fr;
        grid-gap: 2px;
    } 
    .feature{
        width: 40vw;
        
        margin-top: 10px;
         max-height: 20vh;
    }

    .feature>div>h3{
       font-size: medium;
    }
    .feature>div>h6{
        font-size: small;
        font-weight: lighter;
        display: none;
     }
    .green-circle{
        width: 30px;
        height: 30px;
    }
   .partners{
       background-repeat: repeat;
   } 
   
.first{
    margin-bottom: 60px;
}
     
   }

   @media (max-width: 400px) {
    #btn-start{
        width: 90vw !important;
    }
    #btn-start2{
     width: 90vw !important;
 }
}